@font-face {
    font-family: 'iconfont';  /* Project id 3976691 */
    src: url('//at.alicdn.com/t/c/font_3976691_czlayfl4uwi.woff2?t=1679744244972') format('woff2'),
         url('//at.alicdn.com/t/c/font_3976691_czlayfl4uwi.woff?t=1679744244972') format('woff'),
         url('//at.alicdn.com/t/c/font_3976691_czlayfl4uwi.ttf?t=1679744244972') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }